
html, body {margin: 0; height: 100%; overflow: hidden}

#mainBody{
  background-color : #4C9BF3;
  border-radius: 10px;
  box-shadow : 10px 10px #aaaaaa;
  width : 85%;
  height : 800px;
  margin : 4% 0 8% 0;
  padding : 15% 0 15% 0;
  
}

#mainName{
  font-family: 'Roboto', sans-serif;
  font-size : 90px;
  color : #ffffff;
}

#slogan{
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  color : #ffffff;
}

#summary{
  border : 1px solid black;
  border-radius : 10px;
  box-shadow : 10px 10px rgb(85, 154, 233);
  width : 85%;
  height : 800px;
  margin : 4% 0 7% 0;
}

#summaryBody{
  font-family: 'Roboto', sans-serif;
  text-align : left;
  margin : 100px 0 0 50px;
}

#summaryTitle{
  text-align: left;
  padding-top : 50px;
  margin : 30px 0 0 50px;
}

.uk-list{
  margin: 60px 0 0 30px;
  text-align : left; 
}

#projects{
  font-family: 'Roboto', sans-serif;
  color : #ffffff;
  text-align:left;
  margin-left : 50px;
}

#header{
  font-size : 0.1px;
}