.mainBody{
  background-color : #ffffff;
  margin : 2%;
  padding : 15% 0 15% 0;
  font-family : Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* position:sticky;
  top:0; */
}

#mainName{
  margin : 10% 0 17% 0;
  position:center;
  font-family: 'Roboto', sans-serif;
  font-size : 5em;
  color : #000000;
}

.landing{
  height : auto;
}

#moreInfo{
  opacity: 0;
  justify-content : center;
  height : 100px;
  width : 200px;
  animation : moreInfoAnimation 3s infinite;
}

@keyframes moreInfoAnimation{
  0%{opacity : 0}
  50% {opacity : 1}
  99% {opacity : 0}
}



#menuBar{
  position:sticky;
  top : 100px;
}

@keyframes easeOut{
  0%
}